:root{
  --brand-red: #ed1c24;
  --brand-red-hover: #212529;
  --bg-gray: #f3f5f7;
  --card-radius: 12px;
}

input.uppercase {
  text-transform: uppercase;
}

.form-check-input:checked {
    background-color: var(--brand-red);
    border-color: var(--brand-red);
}