/* public/views/partials/header.php */

html, body {
    height: 100%;
}

body.dashboard-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fcfbfb;
}

.dashboard-content {
    flex: 1 0 auto; /* esta parte se expande */
}

.ew-header-bar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

.ew-logo-text {
    font-weight: 700;
    letter-spacing: 0.05em;
}
